body {
  margin: 0;
  background-color: #e7e7e7; }

h2 {
  text-align: center;
  font-size: 30px; }

h3 {
  font-size: 20px;
  margin: 4px; }

p {
  margin: 4px;
  font-size: 30px; }

.container {
  width: 80%;
  margin: 0 auto;
  font-family: "Fira Sans", sans-serif; }

.cntBtn {
  box-sizing: border-box;
  padding: 5px 10px;
  background-color: #f3db03;
  border-radius: 3px;
  border: none;
  font-size: 12px;
  margin: 5px; }

#cnt {
  margin: 5px auto;
  width: 40%;
  padding: 5px;
  display: flex;
  flex-flow: column;
  align-items: center;
  color: white; }

.work {
  background-color: #440e0e; }
  .work::after {
    content: "AU TRAVAIL !";
    width: 100%;
    text-align: center; }

.pause {
  background-color: #0a4444; }
  .pause::after {
    content: "PAUSE !";
    width: 100%;
    text-align: center; }

#toDoInput {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 30px 0;
  transition: margin-top ease 0.5s; }

#toDoInput.centered {
  margin-top: 20vh; }

#toDo {
  font-family: "Fira Sans", sans-serif;
  font-size: 30px;
  width: 80%;
  border: 1px solid #f3db03;
  border-radius: 3px;
  padding: 5px 5px 5px 30px;
  color: #1a234e; }

.btn {
  box-sizing: border-box;
  padding: 15px 20px;
  background-color: #f3db03;
  border-radius: 3px;
  border: none;
  font-size: 30px;
  width: 20%; }

.closeBtn {
  background-color: #4e0306;
  color: white; }

#toDoList li {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 5px 0; }
  #toDoList li label {
    width: 80%;
    font-size: 20px; }

hr {
  margin: 20px auto;
  width: 80%;
  height: 2px;
  background-color: #1a234e;
  border: none; }

.checked {
  text-decoration: line-through #f3db03; }

.hide {
  display: none; }

@media (max-width: 550px) {
  .container {
    width: 95%; }

  .btn {
    font-size: 15px;
    padding: 5px 5px; }

  #toDo {
    width: 85%;
    font-size: 20px; }

  #cnt {
    width: 80%; } }

/*# sourceMappingURL=style.css.map */
