body {
  margin: 0;
  background-color: rgb(231, 231, 231);
}
h2 {
  text-align: center;
  font-size: 30px;
}
h3 {
  font-size: 20px;
  margin: 4px;
}
p {
  margin: 4px;
  font-size: 30px;
}
.container {
  width: 80%;
  margin: 0 auto;
  font-family: "Fira Sans", sans-serif;
}
//Pomodoro counter
.cntBtn {
  box-sizing: border-box;
  padding: 5px 10px;
  background-color: rgb(243, 219, 3);
  border-radius: 3px;
  border: none;
  font-size: 12px;
  margin: 5px;
}
#cnt {
  margin: 5px auto;
  width: 40%;
  padding: 5px;
  display: flex;
  flex-flow: column;
  align-items: center;
  color: white;
}
.work {
  background-color: rgb(68, 14, 14);
  &::after {
    content: "AU TRAVAIL !";
    width: 100%;
    
    text-align: center;
  }
}
.pause {
  background-color: rgb(10, 68, 68);
  &::after {
    content: "PAUSE !";
    width: 100%;
    
    text-align: center;
  }
}
//To do list
#toDoInput {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 30px 0;
  transition: margin-top ease 0.5s;
}
#toDoInput.centered {
  margin-top: 20vh;
}
#toDo {
  font-family: "Fira Sans", sans-serif;
  font-size: 30px;
  width: 80%;
  border: 1px solid rgb(243, 219, 3);
  border-radius: 3px;
  padding: 5px 5px 5px 30px;
  color: rgb(26, 35, 78);
}
.btn {
  box-sizing: border-box;
  padding: 15px 20px;
  background-color: rgb(243, 219, 3);
  border-radius: 3px;
  border: none;
  font-size: 30px;
  width: 20%;
}
.closeBtn {
  background-color: rgb(78, 3, 6);
  color: white;
}
#toDoList {
  li {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 5px 0;
    label {
      width: 80%;
      font-size: 20px;
    }
  }
}
hr {
  margin: 20px auto;
  width: 80%;
  height: 2px;
  background-color: rgb(26, 35, 78);
  border: none;
}
.checked {
  text-decoration: line-through rgb(243, 219, 3);
}
.hide {
  display: none;
}
@media (max-width: 550px) {

  .container {
    width: 95%;
  }
  .btn {
    font-size: 15px;
    padding: 5px 5px;
  }
  #toDo {
    width: 85%;
    font-size: 20px;
  }
  #cnt {
    width: 80%;
  }
}
